body {
  margin: 0;
  padding: 0; }

.row {
  margin: 0;
  padding: 0;
  max-width: 10000px; }

.mainHeader {
  height: 100px;
  text-align: center;
  background: gray; }

.siteHeader {
  text-align: center; }

aside {
  background: gray;
  height: 900px;
  text-align: center; }

form {
  display: none; }

.show {
  display: block; }

article {
  display: inline-block;
  text-align: center; }
  article input {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%; }

.sendEdit {
  display: none; }
