<!DOCTYPE html>
<html>
  <head>
    <title>Backbone Views</title>
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" href="compiledStyle.css">
    <script type="text/template" id="postTmpl">
    <div class="row">
        <h2 rel="title"><%= title %></h2>
        <a href="#movie/<%= title %>"><img src="<%= img %>"></a>
        <p rel="content"><%= content %></p>
        <blockquote rel="director"><%= director %></blockquote>

      <form id="updatePost" action="">
        <p><input type="text" name="editTitle" value="<%= title %>" placeholder="Title"></p>
        <p><input type="text" name="editImg" value="<%= img %>" placeholder="Image Url"></p>
        <p><textarea name="editContent"  placeholder="Content"></textarea></p>
        <p><input type="text" name="editDirector" value="<%= director %>" placeholder="Director"></p>
      </form>

        <button class="deletePost" name="delete">Delete</button>
        <button class="editPost" name="edit">Edit</button>
        <button class="sendEdit" name="sendEdit">Submit</button>
    </div>
    </script>
  </head>
  <body>
  <div class="wrapper">
    <div class="row">
      <header class="mainHeader large-12 columns">MAIN HEADER IMAGE</header>
    </div>

    <div class="row">
      <aside id="left" class="sideBarAd large-1 columns">SIDEBAR IMAGE</aside>

      <section class="large-10 columns">

       <div class="row">
        <h1 class="siteHeader large-12 columns">This is a Movie Site</h1>
        <button class="showCreate large-12 columns" name="addPost">Add Movie</button>
        <form id="createPost" action="">
          <p><input type="text" name="newTitle" value="" placeholder="Title"></p>
          <p><input type="text" name="newImg" value="" placeholder="Image Url"></p>
          <p><textarea name="newContent" placeholder="Content"></textarea></p>
          <p><input type="text" name="newDirector" value="" placeholder="Director"></p>
          <p><button class="createPost" type="submit" name="submit">Create New Movie</button></p>
        </form>
       </div>

      </section>

      <aside id="right" class="sideBarAd large-1 columns">SIDEBAR IMAGE</aside>
    </div>

  </div>
    <!-- libraries -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <!-- app files -->
    <script src="models.js"></script>
    <script src="collections.js"></script>
    <script src="views.js"></script>
    <script src="router.js"></script>
    <script src="main.js"></script>

  </body>
</html>
