body {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
  max-width: 10000px;
}

.mainHeader {
  height: 100px;
  background: tomato;
}

aside {
  background: tomato;
  height: 900px;
}

form {
  display: none;
}

.show {
  display: block;
}

article {
  display: inline-block;
  text-align: center;

  input {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.sendEdit {
  display: none;
}
