body {
  background: url("../ck.jpg") no-repeat top center fixed;
  background-size: cover;
  background-position: 100px -200px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.row {
  margin: 0;
  padding: 0;
  max-width: 10000px;
}

.mainHeaderContainer {
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-size: 50px;
}

.mainHeader {
  height: 100px;
  text-align: center;
  background: crimson;
}

.siteHeader {
  text-align: center;
}

section {
  margin-top: 15%;
  background: ghostwhite;
}

form {
  display: none;
}

.show {
  display: block;
}

article {
  display: inline-block;
  text-align: center;

  input {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.sendEdit {
  display: none;
}
